/* CONTROLS */
.btn-arrow {
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-arrow:hover,
.btn-arrow:active {
  background-color: #e6e6e6;
}
