/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $primaryFont;
  font-weight: $normalWeight;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  line-height: inherit;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

/* GRID */
.limit {
  max-width: 768px;
  margin: auto;
}

/* HEADER */
div.header {
  background-color: #e28743;
  display: flex;
  height: 4rem;
  padding: 0 $gutter;

  div {
    width: 100%;
    padding: 0 $gutter;
  }

  div a {
    color: #24292E;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    color: $fontColor;
    text-align: left;
    font-style: italic;
    font-weight: 700;
  }
}

.animate-blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* FOOTER */
div.footer {
  background-color: #F5F5F4;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 $gutter;

  div a {
    color: #24292E;
    text-decoration: none;
    display: inline-block;
    font-weight: 550;
    color: $fontColor;
    text-align: left;
    // font-style: italic;
  }

}


main {
  display: flex;
  flex-direction: column;
  padding: 2rem $gutter;

  h2 {
    color: #24292E;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1.4rem 0 .6rem 0;
  }

  ul {
    padding: .5rem 1rem;
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    display: block;
    padding: .3rem 0;
    color: #24292E;
    font-weight: 500;
  }

  i {
    color: #24292E;
    font-style: italic;
  }

  p {
    color: #24292E;
    font-size: 1.1rem;
  }
}

.inline-block {
  display: inline-block;
}
