/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $primaryFont;
  font-weight: $normalWeight;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  line-height: inherit;
  background-color: black !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

/* GRID */
.limit {
  max-width: 768px;
  margin: auto;
}

/* HEADER */
div.header {
  background-color: #e28743;
  display: flex;
  flex-grow: 0;
  height: 3rem;
  // height: 5%;
  padding: 0 $gutter;

  div {
    width: 100%;
    padding: 0 $gutter;
  }

  div a {
    color: #24292E;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    color: $fontColor;
    text-align: left;
    font-style: italic;
    font-weight: 700;
  }
}

.animate-blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* FOOTER */
div.footer {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 0;
  font-size: 15px;
  height: 3rem;
  padding: 0 $gutter;

  div a {
    color: #24292E;
    text-decoration: none;
    display: inline-block;
    font-weight: 550;
    color: $fontColor;
    text-align: left;
  }
}

.title {
  letter-spacing: 1.5px;
  line-height: 1.25;
}

/* CONTROLS */
.btn-arrow {
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-arrow:hover,
.btn-arrow:active {
  background-color: #e6e6e6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  #award-container {
    display: none; // flex
    // justify-content: center;
    // align-items: center;
    // flex-grow: 1;
    width: 100% !important;
    padding: 0;
    margin: 1rem 0;

    #video {
      display: flex;
      width: auto;
      height: 80%;
    }
  }

  .random-number {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    min-width: 800px;
    display: flex;


    // flex-grow: 0;
    // width: 100%;
    // justify-content: center;

    #slot-trigger {
      cursor: pointer;
      background: none;
      border: none;
    }

  }


  h2 {
    color: #24292E;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1.4rem 0 .6rem 0;
  }

  ul {
    padding: .5rem 1rem;
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    display: block;
    padding: .3rem 0;
    color: #24292E;
    font-weight: 500;
  }

  i {
    color: #24292E;
    font-style: italic;
  }

  p {
    color: #24292E;
    font-size: 1.1rem;
  }
}

.inline-block {
  display: inline-block;
}



.curtain {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    // margin: 3rem 0;

    #gif {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: 400px;
      z-index: 101;
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      top: 0;
      left: 0;

      // When the checkbox is checked...
      &:checked {

        // Slide the first panel
        &~div.curtain__panel--left {
          transform: translateX(0);
        }

        // Slide the second panel
        &~div.curtain__panel--right {
          transform: translateX(0);
        }
      }
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    background: orange;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    transition: all 1s ease-out;
    z-index: 2;

    &--left {
      justify-content: flex-end;
      transform: translateX(-100%);
    }

    &--right {
      justify-content: flex-start;
      transform: translateX(100%);
    }
  }

  &__content {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;

    img {
      width: 20%;
    }
  }

}



h1 {
  --background: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("https://picsum.photos/id/505/1280/720");
  background-position: center !important;
  font-size: 5rem;
  line-height: 180pt;
  margin: 0;
  font-weight: 900;
  color: transparent;
  animation: images 5s linear infinite;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  overflow: visible;
  z-index: 1;
}

h1::before {
  position: absolute;
  width: calc(100% + 90px);
  height: calc(100% + 20px);
  content: "";
  z-index: -3;
  // border-radius: 30px;
  background: transparent;
  border-top: 5px solid var(--background);
  border-bottom: 5px solid var(--background);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px inset;
}

h1::after {
  position: absolute;
  width: calc(100% + 70px);
  height: 100%;
  content: "";
  background: var(--background);
  mix-blend-mode: hue;
  // border-radius: 30px;
  filter: blur(50px);
  z-index: -1;
}

/* Be sure to include the font links in the <head>. Change fonts and colors here*/

@keyframes images {
  0% {
    --background: red;
    // background: url("https://picsum.photos/id/505/1280/720");
    // font-family: "Poppins", sans-serif;
    // letter-spacing: -15px;
    // background-size: 50%;
  }

  9.9% {
    /* All the keyframes at *.9% prevent images from "fading" between each slide, creates instant change. Also provides background image zoom. */
    --background: red;
    // background: url("https://picsum.photos/id/505/1280/720");
    // font-family: "Poppins", sans-serif;
    // background-size: 100%;
  }

  10% {
    --background: darkorange;
    // background: url("https://picsum.photos/id/290/1280/720");
    // font-family: "Work Sans", sans-serif;
    // background-size: 50%;
  }

  19.9% {
    --background: darkorange;
    // background: url("https://picsum.photos/id/290/1280/720");
    // font-family: "Work Sans", sans-serif;
    // background-size: 100%;
  }

  20% {
    --background: gold;
    // background: url("https://picsum.photos/id/322/1280/720");
    // font-family: "Azeret Mono", monospace;
    // background-size: 50%;
  }

  29.9% {
    --background: gold;
    // background: url("https://picsum.photos/id/322/1280/720");
    // font-family: "Azeret Mono", monospace;
    // background-size: 100%;
  }

  30% {
    --background: chartreuse;
    // background: url("https://picsum.photos/id/491/1280/720");
    // font-family: "Barlow", sans-serif;
    // background-size: 50%;
  }

  39.9% {
    --background: chartreuse;
    // background: url("https://picsum.photos/id/491/1280/720");
    // font-family: "Barlow", sans-serif;
    // background-size: 100%;
  }

  40% {
    --background: deepskyblue;
    // background: url("https://picsum.photos/id/560/1280/720");
    // font-family: "Jost", sans-serif;
    // background-size: 50%;
  }

  49.9% {
    --background: deepskyblue;
    // background: url("https://picsum.photos/id/560/1280/720");
    // font-family: "Jost", sans-serif;
    // background-size: 100%;
  }

  50% {
    --background: rebeccapurple;
    // background: url("https://picsum.photos/id/309/1280/720");
    // font-family: "Kanit", sans-serif;
    // background-size: 50%;
  }

  59.9% {
    --background: rebeccapurple;
    // background: url("https://picsum.photos/id/309/1280/720");
    // font-family: "Kanit", sans-serif;
    // background-size: 100%;
  }

  60% {
    --background: mediumspringgreen;
    // background: url("https://picsum.photos/id/650/1280/720");
    // font-family: "Petrona", serif;
    // background-size: 50%;
  }

  69.9% {
    --background: mediumspringgreen;
    // background: url("https://picsum.photos/id/650/1280/720");
    // font-family: "Petrona", serif;
    // background-size: 100%;
  }

  70% {
    --background: lightsalmon;
    // background: url("https://picsum.photos/id/740/1280/720");
    // font-family: "Raleway", sans-serif;
    // background-size: 50%;
  }

  79.9% {
    --background: lightsalmon;
    // background: url("https://picsum.photos/id/740/1280/720");
    // font-family: "Raleway", sans-serif;
    // background-size: 100%;
  }

  80% {
    --background: deeppink;
    // background: url("https://picsum.photos/id/547/1280/720");
    // font-family: "Tomorrow", sans-serif;
    // background-size: 50%;
    // letter-spacing: 0px;
  }

  89.9% {
    --background: deeppink;
    // background: url("https://picsum.photos/id/547/1280/720");
    // font-family: "Tomorrow", sans-serif;
    // background-size: 100%;
  }

  90% {
    --background: darkblue;
    // background: url("https://picsum.photos/id/455/1280/720");
    // font-family: "Fira Sans", sans-serif;
    // background-size: 50%;
  }

  99.9% {
    --background: darkblue;
    // background: url("https://picsum.photos/id/455/1280/720");
    // font-family: "Fira Sans", sans-serif;
    // background-size: 100%;
  }

  100% {
    --background: red;
    // background: url("https://picsum.photos/id/537/1280/720");
    // font-family: "Poppins", sans-serif;
    // background-size: 50%;
    // letter-spacing: -15px;
  }
}

/* Responsivity; breakpoints will need to be changed based on your text length.*/

@media (max-width: 1225px) {
  h1 {
    font-size: 100pt;
    line-height: 130pt;
    font-weight: 400;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 70pt;
    line-height: 90pt;
  }

  h1::after {
    filter: blur(30px);
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 50pt;
    line-height: 64pt;
  }

  h1::after {
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 34pt;
    line-height: 44pt;
  }

  p::before {
    width: calc(100% + 50px);
    border-radius: 10px;
  }

  p::after {
    width: calc(100% + 30px);
    border-radius: 10px;
  }
}

h1 {
  font-size: 4.8rem;
}